:root{
    --maincolor:#152028;

    --secondarycolor:#192734;

    --bordercolor:#164d56;
    --maintext:#eeeeee;
    --secondarytext:#4b5156;
    --themedotborder:#fff;
    --previewbg: rgb(25, 39, 52, 0.8);
    --previewshadow:#111921;
    --buttoncolor:#17a2b3;
    #red{red}

}
