:root{
    --maincolor:#646b56;

    --secondarycolor:#515a45;

    --bordercolor:#161914;
    --maintext:#fff;
    --secondarytext:#eeeeee;
    --themedotborder:#fff;
    --previewbg: rgba(81, 90, 72, 0.8);
    --previewshadow:#2a2f25;
    --buttoncolor:#669966;

}